.centra_abs {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.centra_abs_y {
    position: absolute;
    top: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.centra_abs_x {
    position: absolute;
    left: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.appearance_none {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}

.box_input{
    /*float:left;                                        
    width:75%;*/
    @media (max-width: 768px){
        width:100%;
    }
    -webkit-background-clip: padding-box;                
    -moz-background-clip: padding;
    input,select,textarea{
        outline:0;
        background-color:transparent;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;                    
        border:1px solid #c9c9c9;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        width:100%;
        .appearance_none;
        color:#001f3f;
    }
    .cont_input{

        background-clip:padding-box;
        input{
            padding:10px;
        }
        input:hover{
            border-color:#0CF;
        }
        input:focus{                                
            border-color:#0CF;
        }
    }
    .cont_select{
        background-clip:padding-box;
        position:relative;

        &:before{
            content:"select";
            color:rgba(0,0,0,0);
            background-image:url('/web/assets/images/select.jpg');
            background-size:12px; 
            background-repeat:no-repeat;
            background-position:center center;
            position:absolute;
            right:0px;
            .centra_abs_y;
        }

        select{

            color:#000;
            padding:10px;                                
            position:relative;
            &:after{
                position:absolute;
                content:" ";
                height:100%;
                width:30px;
                right:0;
                top:0;
                background-color:#FFF;
                background-size:fill;
            }
            option{
                color:#000; 
                padding:10px;
                border:1px solid #ccc; 
                .appearance_none;
            }
        }
        select:hover{
            color:#0CF;
        }
    }
    .cont_checkbox{
        float:left;
        display:inline-block;
        .checkbox{
            &:first-child{
                margin-left:0;
            }
            float:left;
            display:inline-block;
            width: 100px;
            padding:10px 0;
            margin:0 10px;
            input[type='checkbox']{
                display:none;
                width:0;
                height:0;
                visibility:hidden;
                opacity:0;
            }
            input[type='checkbox']+label{                                    
                cursor:pointer;
                background-position: left center;
                background-repeat: no-repeat;
                background-size:20px;
                font-size:13px;
                padding:5px 0px 5px 25px;
                background-image:url('/admin/assets/images/notchecked.png');
            }
            input[type='checkbox']:checked+label{                                    
                background-image:url('/admin/assets/images/checked.png');
            }
            input[type='checkbox']+label:hover{
                color:#0CF;
            }
        }
    }
    .cont_submit{
        text-align:right;
        @media (max-width:768px){
            float:none;
            width:100%;
            text-align:center;
        }                                                         
        background-clip:padding-box;
        input{
            width:auto;
            background-color:#01FF70;
            background-size: cover;
            color:#FFF; 
            padding:10px 20px;
            border:1px solid #01FF70;
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            @media (max-width:768px){

                padding:10px 25px;
            }
        }
    }
    &.submit{       
        text-align:right;
        margin-top:30px;
        @media (max-width:768px){

            text-align:center;
        }

    }
    &.select{

    }
}

body{
    font-family: 'Montserrat', sans-serif; 
    position:relative;
    box-sizing:border-box;
    background-color:#F7F7F7;

    .hamburger{
        &:hover{
            width:50px;
        }

        &.open{            
            
            left:11%;            
            @media(max-width:1440px){
                left:21%;
            }

            @media(max-width:980px){
                left:26%;
            }
            
            
                        
            @media(max-width:768px){                
                left:10px;
                color:#FFF;
                background-color:#2A3F54;
            }
        }
        z-index:999999;
        position:fixed;
        top:0;
        left:10px;
        width:30px;
        height:30px;
        background-color:#18a689;
        font-size:20px;
        color:white;
        text-align:center;  
        -webkit-transition: all 300ms; /* Safari */
        transition: all 300ms;        
        i{
            margin-top:5px;
        }

        @media (max-width:768px){
            top:5px;
        }        
        @media(max-width:768px){
            background-color:inherit;
            color:black;
        }
        
    }

    .header{
        height: 50px;
        width: 100%;
        float:left;

        .float_right{
            margin-top:5px;
            float:right;
            font-size:12px;
            color:#333;
            width:20%;
            text-align:right;
            margin-right:20px;
            @media (max-width:768px){
                display:none;
            }
        }

        .right_name{
            display:none;
            @media (max-width:768px){
                display:block;
                float:right;
                margin:10px 10px 0 0;
                font-size:12px;
            }
        }

        .sezione{  

            padding-top:10px;
            width: 100%;
            text-align: center;
            margin:0;
            text-transform: uppercase;
        }

        @media (max-width:768px){
            background-color:#FFF;
        }
    }

    .contenitore{
        width:100%;
        height:100%;

        .left{

            background-color:#2A3F54;                    
            @media(max-width:1440px){
                width:20%;
            }

            @media(max-width:980px){
                width:25%;
            }

            width:10%;

            

            border:none;
            margin-top:0;            
            height:100%;
            float:left;   
            
            .profile_info{

                float:left;
                @media(max-width: 768px){
                    width:90%;
                    margin:5%;
                }

                width:100%;
                text-align:center;

                border-bottom:1px solid #ccc;
            }

            a{
                float:left;
                width:95%;
                margin:1px 2.5%;
                
                i.fa{
                    font-size:16px;
                    margin-right:5px;
                    text-align:left;
                    float:left;
                }
                
                text-align:center;

                span.fa{
                    text-align:right;
                    float:right;
                    margin-right:4px;
                    margin-top:3px;
                }
            }

            .left_container{
                
                display:block;
                float:left;
                width:100%;

                .nav_title{
                    float:left;
                    width:100%;
                }
                
                @media(max-width:768px){

                    .nav.side-menu{
                        
                        li{
                            float:left;
                            width:100%;
                            font-size:13px;
                            a{
                                text-align:center;

                                i{
                                    margin-right:5px;
                                }                                
                            }
                        }

                        .nav.child_menu li{

                            a{
                                font-size:11px;
                            }

                            padding-left:0;
                        }
                    }
                }

                .nav.child_menu li{
                    padding-left:0;

                    a{
                        font-size:11px;
                    }
                }

                .left_group{

                    .titolo{
                        font-weight:bold;
                        text-align:center;
                        cursor:pointer;
                    }

                    .hidden{                        
                        display:none;
                        text-align:right;
                        font-size:12px;
                        font-weight: normal;
                        padding-right:10px;
                        @media (max-width:768px){
                            padding-right:0;
                            text-align:center;    
                        }

                        &.show{
                            display:block !important;
                        }
                        
                        .left_sezione.selected{
                            p{
                                color:#18a689;
                            }
                            a{
                                color:#18a689;
                                
                                i{
                                    color:#18a689;
                                }
                            }
                        }
                        
                        p{
                            display:inline-block;    
                        }
                        
                        a{
                            display:inline-block;
                            text-decoration:none;
                            
                            i{
                                color:#000;
                            }
                        }
                        
                    }
                    &.dropdown{
                        background-image:url('/admin/assets/images/arrow_down_group.png');
                        background-position: top right;
                        background-size:20px 20px;
                        background-repeat:no-repeat;                        
                        &.open{
                            background-image:url('/admin/assets/images/arrow_up_group.png');
                        }
                    }                                        
                    margin:10px 0;
                }

                
            }

            @media (max-width: 768px){
                width:0;
                z-index: 2;
                &.open{ 
                    width:100%;                    
                }
            }            
            &.closed{    
                .left_container{
                    display:none;
                }
                width:0;    
            }
            -webkit-transition: width 300ms; /* Safari */
            transition: width 300ms;
        }

        .right{

            width:90%;
            float:right;
            height:100%;

            
            
            @media(max-width:1440px){
                width:80%;
            }
            
            @media(max-width:980px){
                width:75%;
            }

            @media (max-width: 768px){
                width:100%;
                height:auto;
            }

            &.open{
                width:100%;
            }

            .lista{                              
                width:90%;
                margin:0 5%;
                display:table;
                font-size:14px;
                margin-top:20px;
                border-top:1px solid #e7eaec;
                @media (max-width: 768px){
                    background-color:#f3f3f4;  
                    height:100%;
                    width:100%;
                    display:block;
                    padding:0;
                    margin:0;
                    border:0;
                    float:left;
                }

                .table_header{                    
                    display:table-row;                    
                    margin:15px 0;
                    font-size:14px;          
                    margin-bottom:20px;
                    @media (max-width: 768px){
                        float:left;
                        width:100%;
                        display:none;
                    }
                    .table_cell{
                        &:first-child{
                            border-left: 1px solid #e7eaec;;
                        }
                        &:last-child{
                            text-align:right;
                            padding-right:20px;
                        }
                        line-height:1.5;
                        vertical-align:middle;
                        border-right:1px solid #e7eaec;
                        font-weight:bold;
                        color: #676a6c;
                        padding:10px 5px;                        
                        text-transform: uppercase;
                        margin:0;
                        display:table-cell;    
                    }    
                }

                .element{
                    display:table-row;
                    background-color:#FFF;
                    transition:all 300ms;
                    -webkit-transition: all 300ms;
                    width:100%;                    
                    margin:10px 0;    
                    &:hover{
                        outline:1px solid #1ab394;
                    }
                    &:last-child{
                        .table_cell{
                            border-bottom:1px solid #e7eaec;
                        }
                    }
                    @media (max-width: 768px){
                        display:block;
                        float:left;
                        width:95%;
                        margin:5px 2.5%;
                        background-image:url('/admin/assets/images/arrow_down_group.png');
                        background-position: top right;
                        background-size:20px 20px;
                        background-repeat:no-repeat;                        
                        &.open{
                            background-image:url('/admin/assets/images/arrow_up_group.png');
                            padding-bottom:20px;
                            .table_cell{
                                display:block;
                            }
                        }
                    }                        
                    .title{
                        display:none;
                        @media (max-width: 768px){
                            padding:10px 0;
                            text-align:center;
                            display:block;
                        }
                    }
                    .table_cell{
                        color:#676a6c;
                        display:table-cell;
                        line-height:1.5;
                        vertical-align:top;
                        min-height:40px;
                        border: 1px solid #e7eaec;
                        border-bottom:0;                        
                        border-left:0;
                        @media (max-width:768px){
                            border-left:1px solid #e7eaec;
                        }
                        padding:5px;
                        margin:0 2%;
                        transition:all 300ms;
                        -webkit-transition: all 300ms;
                        &:nth-child(2){
                            border-left:1px solid #e7eaec;
                        }
                        &:last-child{
                            text-align:right;
                            padding-right:20px;
                            @media (max-width:768px){
                                border-bottom:1px solid #e7eaec;
                                text-align:left;
                                padding-right:0;
                            }
                        }
                        @media (max-width: 768px){                            
                            float:left;
                            width:95%;
                            margin:0 2.5%;
                            padding:0;
                            border-right:1px solid #e7eaec;
                            display:none;
                        }                        
                        .label{
                            display:none;
                            @media (max-width: 768px){
                                float:left;
                                width:30%;
                                display:block;
                                min-height:40px;
                            }    
                        }
                        .value{                                
                            @media (max-width: 768px){
                                float: right;
                                display:inline-block;
                                width: auto;
                                width:100%;
                                text-align: right;
                                max-width: 65%;
                                margin-right: 4%;
                            }
                            min-height:40px;
                            word-break:break-word;
                        }
                        .op{
                            text-align:center;
                            width:40px;
                            height:35px;
                            border-radius:5px;
                            display:inline-block;
                            cursor:pointer;
                            &.edit{
                                background-color:skyblue;
                            }
                            &.lock{
                                background-color:darkorange;                                
                            }
                            &.unlock{
                                background-color:#1ab394;                                
                            }
                            &.delete{
                                background-color:#ed5565;                                
                            }
                            .label_op{
                                display:none;
                                @media (max-width:768px){
                                    width:100%;
                                    line-height:35px;
                                    display:block;
                                    color:white;
                                }
                            }
                            i{
                                @media (max-width:768px){
                                    display:none;
                                }
                                color:white;
                                font-size:15px;
                                line-height:35px;
                            }
                            
                            @media (max-width:768px){
                                width:49%;
                                margin:5px 0;
                            }
                        }
                    }                                                
                }
            }
        }        
        
    }

    &#login{
        //*position:relative;*/
        .left{
            width:0;
        }
        .right{
            width:100%;
            .fulL_width{
                float: left;
                width: 100%;
                .centra{
                    position:relative;
                    float:left;
                    width: calc(~"100% - 300px");
                    margin:0 150px;
                    height:100%;
                    @media (max-width: 768px){
                        width:90%;
                        margin:0 5%;
                        max-width:100%;
                    }
                    form{
                        h2{
                            text-align:center;
                            font-size:20px;
                            text-transform: uppercase;
                            margin-bottom:20px;
                        }
                        .centra_abs;
                        background-color: aliceblue;
                        padding: 40px 70px;
                        border-radius: 40px; 
                        border: 1px solid aliceblue;
                        position:absolute;
                        @media (max-width: 768px){
                            position:inherit;
                        }
                        max-width:500px; 
                        float:left;
                        .box_input{
                            margin-bottom:20px;
                            border-radius:20px;                            
                            border:1px solid rgb(150,160,160); 
                            width:100%; 
                            -webkit-border-radius: 20px;
                            -webkit-background-clip: padding-box;
                            -moz-border-radius: 20px;
                            -moz-background-clip: padding;
                            input,select,textarea{
                                outline:0;
                                background-color:transparent;
                                -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                                -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                border-radius:20px;
                                border:1px solid #c9c9c9;
                                width:100%;
                                .appearance_none;
                                -webkit-transition: all 300ms; /* Safari */                                
                            }
                            .cont_input{
                                
                                background-clip:padding-box;
                                input{
                                    padding:10px;
                                }
                            }
                            .cont_select{
                                background-clip:padding-box;
                                position:relative;
                                &:before{
                                    content:"select";
                                    color:rgba(0,0,0,0);
                                    background-image:url('/web/assets/images/select.jpg');
                                    background-size:12px; 
                                    background-repeat:no-repeat;
                                    background-position:center center;
                                    position:absolute;
                                    right:0px;
                                    .centra_abs_y;
                                }
                                select{
                                    color:#aaa;
                                    padding:10px;
                                    option{
                                        color:#000; 
                                        padding:10px;
                                        border:1px solid #ccc; 
                                    }
                                }
                            }
                            .cont_submit{                                
                                background-clip:padding-box;
                                input{
                                    background-color:rgb(150,160,160);
                                    background-size: cover;
                                    color:#FFF; 
                                    padding:10px 0;
                                }
                            }
                            &.submit{
                                margin-top:40px;
                            }
                        }
                    }
                }
            }
        }
        
    }

    &#dashboard{
        .to_do_list{                
            .titolo{
                color:#006DF0;
                float:left;
                margin-left:30px;
                line-height:50px;
                font-size:15px;
            }
            .buttons_dx{
                margin:10px 10px 0 0;                
            }
            .buttons{
                cursor:pointer;
                position:relative;
                color:#FFF;
                width:30px;
                height:30px;
                border-radius:30px;
                margin-right:2px;
                background-color:#006DF0;
                float:right;
                &.drop{
                    background-color:#D90000;
                }
                &.add{
                    background-color:#006DF0;
                }
                
                p{
                    margin:0;
                    .centra_abs;
                    text-align:center;  
                    img{
                        width:12px;
                    }
                }
            }
            .buttons:hover{
                width:35px;
                height:35px;
            }
            .list.hidden{
                background-color:#FFF;
                margin:0px 10px 0px 4%;                
                width:calc(~"95% - 10px");
                &.no_gal{
                    .todo_singola{
                        .text{
                            width:100%;
                        }
                        .gallery{
                            display:none;
                        }
                    }
                    @media (max-width: 768px){
                        width:calc(~"95% - 10px");
                    }
                    width: calc(~"(95% - 50px) / 2");
                }
                border-radius:20px;
                border:1px solid #aaa;
                position:relative;
                
                &.show{
                    margin-top:10px;
                    margin-bottom:10px;
                    min-height:40px;
                    display:block !important;
                } 

                .todo_singola{
                    margin:0 15px;                
                    .text{
                        float:left;
                        width:50%;
                        @media (max-width:768px){
                            width:100%;
                        }
                        p{
                            column-count:2;
                            font-size:13px;
                            padding:5px 15px;
                            margin:0;
                        }
                        /*padding:15px;*/
                        margin-top:25px;
                    }
                    .gallery{
                        position:relative;
                        margin: 30px 0;
                        max-height:300px;
                        float:left;
                        width:50%;
                        @media (max-width:768px){
                            width:100%;
                        }
                        .slick-slide{
                            height:auto;
                        }
                        .slick-dots{
                            position:absolute;
                            bottom:-20px;
                            width:100%;
                            text-align:center;
                            li{
                                width:10px;
                                height:10px;
                                border-radius:20px;
                                border:1px solid #aaa;
                                button{
                                    display:none;
                                }
                                &.slick-active{
                                    background-color:#aaa;
                                    background-size:cover;
                                }
                            }                            
                        }
                        .slick-next{
                            color:#fff;
                            margin-right:35px;
                            &:before{
                                content:">";
                            }
                        }
                        .slick-prev{
                            color:#fff;
                            margin-left:35px;
                            &:before{
                                content:"<";
                            }
                        }                        
                        .img_gal{
                            img{
                                max-width:100%;
                            }
                        }
                    }
                    .date{
                        position:absolute;
                        top:5px;
                        color:#ddd;
                        right:15px;
                        font-size:12px;
                    }
                }
            }
            .hidden{
                float:left;
                height:0;
                width:100%;
                visibility: hidden;
                opacity:0;
                -webkit-transition: display 300ms; /* Safari */
                transition: visibility 0s, opacity 0.5s linear;
                .cont_content{
                    padding:0 15px 0 30px;
                    .box_input{
                        &.submit{
                            display:none;
                        }
                        background-color: #FFF; 
                        float:left;
                        padding:10px 0;
                        border:1px solid #006DF0;
                        width:calc(~"100% - 6% - 60px");
                        margin-right:2%;
                        .cont_input{                        
                            input[type="text"]{
                                padding-left:10px;
                                outline:none;
                                line-height:20px;
                                border:none;
                                width:100%;                                
                            }
                        }                                        
                    }
                    .box_file,.box_img{
                        input{
                            display:none;
                            visibility: hidden;
                            appearence:none;
                            -webkit-appearence:none;
                        }           
                        label{
                            margin:6px 0;
                            float:left;
                            height:30px;
                            width:30px;
                            background-repeat: no-repeat;
                            background-size:30px 30px;
                            background-position: center center;
                        }
                        height:30px;
                        float:right;
                        width:30px;
                    }
                    .box_file{
                        label{
                            background-image:url('/admin/assets/images/attachment_add.png');                        
                        }
                    }
                    .box_img{
                        label{
                            background-image:url('/admin/assets/images/image_add.png');
                        }
                        margin-right:2%;
                    }
                }
            }
            .hidden.show{                
                height:auto;
                opacity:1;
                visibility: visible;
                display:block !important;
            }
            margin-top:30px;
            /*border-radius:20px;*/
            float:left;
            width:50%;
            margin-left:30px;
            border:1px solid #ccc;
            -webkit-transition: height 300ms; /* Safari */
            transition: height 300ms;
            @media (max-width:768px){
                width:100%;
                margin:0;
                border-left:none;
                border-right:none;
            }
            background-color:rgba(240,240,240,0.7);
        }
    }

    &#scheda{
        .scheda{
            padding:20px;

            .contieni{
                float:left;
                width:100%;
                padding:0;
                
                .panel_toolbox>li>a:hover{
                    color:#F5F7FA;
                    background:none;
                }                
                .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
                    color:#F5F7FA;
                    background:none;
                }
            }

            form{
                h2{
                    text-align:center;
                    font-size:20px;
                    text-transform: uppercase;
                    margin-bottom:20px;
                }
                width:100%;            
                float:left;     
                .half{
                    transition: all 300ms;        
                    -webkit-transition: all 300ms;
                    float:left;
                    width:50%;
                    @media (max-width:768px){
                        width:100%;
                    }
                    &.submit{
                        width:100%;
                        .row{
                            padding:0 7.5%;
                        } 
                    }
                    @media (min-width: 768px){
                        
                        &:nth-child(2n):not(.submit){
                        
                            .row{
                                padding:0 15% 0 5%;    
                            }

                        }

                        &:nth-child(2n+1):not(.submit){

                            .row{
                                padding:0 5% 0 15%;    
                            }

                        }    
                    }
                    
                    
                    .row{
                        transition: all 300ms;        
                        -webkit-transition: all 300ms;
                        /*float:left;                    
                        width:100%;*/
                        @media (max-width: 768px){
                            padding:0 5%;
                        }
                        /*padding:0 10%;*/
                        margin:10px 0;                    
                        .label{
                            line-height:37px;
                            /*float:left;*/
                            color:#000;
                            @media (max-width: 768px){
                                width:100%;
                                margin:10px 0;
                            }
                            /*width:100%;*/
                        }
                        .box_input{
                            /*float:left;                                        
                            width:75%;*/
                            @media (max-width: 768px){
                                width:100%;
                            }
                            -webkit-background-clip: padding-box;                
                            -moz-background-clip: padding;
                            input,select,textarea{
                                outline:0;
                                background-color:transparent;
                                -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                                -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;                    
                                border:1px solid #c9c9c9;
                                border-radius:4px;
                                -webkit-border-radius:4px;
                                -moz-border-radius:4px;
                                width:100%;
                                .appearance_none;
                                color:#001f3f;
                            }
                            .cont_input{

                                background-clip:padding-box;
                                input{
                                    padding:10px;
                                }
                                input:hover{
                                    border-color:#0CF;
                                }
                                input:focus{                                
                                    border-color:#0CF;
                                }
                            }
                            .cont_select{
                                background-clip:padding-box;
                                position:relative;

                                &:before{
                                    content:"select";
                                    color:rgba(0,0,0,0);
                                    background-image:url('/web/assets/images/select.jpg');
                                    background-size:12px; 
                                    background-repeat:no-repeat;
                                    background-position:center center;
                                    position:absolute;
                                    right:0px;
                                    .centra_abs_y;
                                }

                                select{

                                    color:#000;
                                    padding:10px;                                
                                    position:relative;
                                    &:after{
                                        position:absolute;
                                        content:" ";
                                        height:100%;
                                        width:30px;
                                        right:0;
                                        top:0;
                                        background-color:#FFF;
                                        background-size:fill;
                                    }
                                    option{
                                        color:#000; 
                                        padding:10px;
                                        border:1px solid #ccc; 
                                        .appearance_none;
                                    }
                                }
                                select:hover{
                                    color:#0CF;
                                }
                            }
                            .cont_checkbox{
                                float:left;
                                display:inline-block;
                                .checkbox{
                                    &:first-child{
                                        margin-left:0;
                                    }
                                    float:left;
                                    display:inline-block;
                                    width: 100px;
                                    padding:10px 0;
                                    margin:0 10px;
                                    input[type='checkbox']{
                                        display:none;
                                        width:0;
                                        height:0;
                                        visibility:hidden;
                                        opacity:0;
                                    }
                                    input[type='checkbox']+label{                                    
                                        cursor:pointer;
                                        background-position: left center;
                                        background-repeat: no-repeat;
                                        background-size:20px;
                                        font-size:13px;
                                        padding:5px 0px 5px 25px;
                                        background-image:url('/admin/assets/images/notchecked.png');
                                    }
                                    input[type='checkbox']:checked+label{                                    
                                        background-image:url('/admin/assets/images/checked.png');
                                    }
                                    input[type='checkbox']+label:hover{
                                        color:#0CF;
                                    }
                                }
                            }
                            .cont_submit{
                                text-align:right;
                                @media (max-width:768px){
                                    float:none;
                                    width:100%;
                                    text-align:center;
                                }                                                         
                                background-clip:padding-box;
                                input{
                                    width:auto;
                                    background-color:#01FF70;
                                    background-size: cover;
                                    color:#FFF; 
                                    padding:10px 20px;
                                    border:1px solid #01FF70;
                                    border-radius:5px;
                                    -moz-border-radius:5px;
                                    -webkit-border-radius:5px;
                                    @media (max-width:768px){

                                        padding:10px 25px;
                                    }
                                }
                            }
                            &.submit{       
                                text-align:right;
                                margin-top:30px;
                                @media (max-width:768px){

                                    text-align:center;
                                }
                                
                            }
                            &.select{

                            }
                        }
                    }
                }
                
            }
        }
    }
    
    &#task{
        &.daily{            
            .container{                
                padding:0 5%;
                .day{
                    
                    margin:30px 0;
                    .day_text{
                        padding-left:4px;
                        color:#0e0;
                    }
                    .text{
                        width:100%;
                        textarea{
                            display:none;
                            border-left:4px solid #0ec;
                            border-radius:none;
                            overflow:hidden;
                        }
                    }
                    ul{
                        padding:0;
                        margin:0;
                    }
                    .task{  
                        list-style: none;
                        font-size:14px;
                        padding:0 10px;
                        line-height: 30px;
                        height: 30px;
                        border-left: 4px solid #0ec;
                        
                        .text{
                            .text_save{
                                width:100%;
                            }
                        }
                    }
                    .add{                    
                        .text{
                            textarea{
                                display:block;
                            }
                        }
                    }   
                }                                
            }
        }
    }

}
body,html{
    /*line-height: 0px;;*/
    padding:0;
    margin:0;
}
.clear{
    clear:both;
}

